@import "_defaults";

.navbar {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
     background: 0 0; 
    background: rgba(0,0,0,0.5);
    background: #808080;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse {
    padding: 0;
    background-color: #333;
}

.navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255,255,255,.3);
}

nav {
    .secondary-nav-mobile {
        display: none;
    }
}

.secondary-nav {
    border-top: 1px solid #cccccc;
    display: block;
    position: fixed;
    width: 100%;
    background: #808080;
    left: 0;
    top: 90px;
    color: black;
    -webkit-transition: all .5s ease-in-out,top .5s ease-in-out;
    -moz-transition: all .5s ease-in-out,top .5s ease-in-out;
    transition: all .5s ease-in-out,top .5s ease-in-out;
    z-index: 10;
    &.shift-up {
        top: 50px;
        -webkit-transition: all .5s ease-in-out,top .5s ease-in-out;
        -moz-transition: all .5s ease-in-out,top .5s ease-in-out;
        transition: all .5s ease-in-out,top .5s ease-in-out;
    }
    ul {
        li {
            display: inline-block;
            padding-left: 15px;
            padding-right: 15px;
            a {
                cursor: pointer;
                &.nav-desktop {
                    border-bottom: 4px solid #808080;
                    border-top: 4px solid #808080;
                    padding: 6px 0;
                    &:hover, &:active, &:focus, &:visited {
                        background: none;
                        color: $white;
                    }
                }
            }
            &.active, &:hover {
                a {
                    &.nav-desktop {
                        border-bottom: 4px solid $white;
                        border-top: 4px solid $white;
                    }
                }
            }
        }
    }
}

section {
    /* Set a specific height */
    height: 100%;
    min-height: 100%;
    position: relative;
    padding-top: 160px;
    -webkit-transition: all .5s ease-in-out,top .5s ease-in-out;
    -moz-transition: all .5s ease-in-out,top .5s ease-in-out;
    transition: all .5s ease-in-out,top .5s ease-in-out;
    width: 100%;
    &#welcome {
        color: $grey;
        padding-top: 0;
        text-align: center;
        p, h2 {
            margin: 0;
        }
        h2 {
            margin-top: 35px;
        }
    }
    &#whatIDoSection {

    }
    &#aboutSection {
        padding-top: 0;
        /* The image used */
        background-image: url("/images/img_parallax.jpg");
        color: $white;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 0;
    }
    &#whatPeopleThinkSection {
        padding-top: 0;
        #quoteCarousel .carousel-control {
            display: none;
        }

        #quoteCarousel ol.carousel-indicators {
            bottom: -100px;
            li {
                border: 10px solid $white;
                margin: 10px;

                -webkit-transition: all .5s ease-in-out;
                -moz-transition: all .5s ease-in-out;
                transition: all .5s ease-in-out;
                &.active {
                    border: 15px solid $white;
                    border-radius: 20px;

                    -webkit-transition: all .5s ease-in-out;
                    -moz-transition: all .5s ease-in-out;
                    transition: all .5s ease-in-out;
                }
            }
        }

        #quoteCarousel p.quote-text {
            font-style: italic;
            text-align: left;
            margin-bottom: 10px;
            quotes: "“" "”" "‘" "’";
            &:before {
                content: open-quote;
            }
            &:after {
                content: close-quote;
            }
        }
    }
    &.grey-bg {
        background-color: $light-grey;
        color: $white;
    }
    &.light-grey-bg {
        background-color: $super-light-grey;
        color: $dark-grey;
    }
}

.cisco-silhouette-container {
    margin: 0 auto 35px;
    height: 200px;
    width: 200px;
    -webkit-transition: all .5s ease-in-out,top .5s ease-in-out;
    -moz-transition: all .5s ease-in-out,top .5s ease-in-out;
    transition: all .5s ease-in-out,top .5s ease-in-out;
    .cisco-silhouette-image {
        background-image: url("/images/cisco-silhouette.svg"); //50% 50% cover
        background-size: 90%;
        background-position-y: 5px;
        background-position-x: 10px;
        background-repeat: no-repeat;

        // border: 1px solid $black;
        border-radius: 50%;
        height: 100%;
        width: 100%
    }
}

.fb-logo-big {
    margin: 0 auto;
    width: 280px;
    img {
        height: auto;
        width: 100%;
    }
}