@import "_defaults";
@import "_flip-card";
// @import "../app/css/form-input-styles.css";

.navbar {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
     background: 0 0; 
    background: rgba(0,0,0,0.5);
    background: #808080;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}
#hamburgerButon {
    font-size: 24px;
}

.top-nav-collapse {
    padding: 0;
    background-color: #333;
}

.navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255,255,255,.3);
}

nav {
    .secondary-nav-mobile {
        display: none;
    }
}

.secondary-nav {
    border-top: 1px solid #cccccc;
    display: block;
    position: fixed;
    width: 100%;
    background: #808080;
    left: 0;
    top: 90px;
    color: black;
    -webkit-transition: all .5s ease-in-out,top .5s ease-in-out;
    -moz-transition: all .5s ease-in-out,top .5s ease-in-out;
    transition: all .5s ease-in-out,top .5s ease-in-out;
    z-index: 10;
    &.shift-up {
        top: 50px;
        -webkit-transition: all .5s ease-in-out,top .5s ease-in-out;
        -moz-transition: all .5s ease-in-out,top .5s ease-in-out;
        transition: all .5s ease-in-out,top .5s ease-in-out;
    }
    ul {
        li {
            display: inline-block;
            padding-left: 15px;
            padding-right: 15px;
            a {
                cursor: pointer;
                &.nav-desktop {
                    border-bottom: 4px solid #808080;
                    border-top: 4px solid #808080;
                    padding: 6px 0;
                    &:hover, &:active, &:focus, &:visited {
                        background: none;
                        color: $white;
                    }
                }
            }
            &.active, &:hover {
                a {
                    &.nav-desktop {
                        border-bottom: 4px solid $white;
                        border-top: 4px solid $white;
                    }
                }
            }
        }
    }
}

section {
    /* Set a specific height */
    height: 100vh;
    // min-height: 100vh;
    position: relative;
    padding-top: 160px;
    -webkit-transition: all .5s ease-in-out,top .5s ease-in-out;
    -moz-transition: all .5s ease-in-out,top .5s ease-in-out;
    transition: all .5s ease-in-out,top .5s ease-in-out;
    width: 100%;

    // @import "_parallax";

    .external-link {
        color: $grey;
        font-size: 15px; 
        margin-right: 10px;
        &:before {
            font-family: 'FontAwesome';
            content: " \f08e";
        }
    }
    a {
        border-bottom: 1px solid $super-light-grey;
        padding-bottom: 2px;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        &:hover {
            border-bottom: 1px dashed #666666;
            padding-bottom: 6px;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }
    }

    &.grey-bg {
        background-color: $light-grey;
        color: $white;
    }
    &.light-grey-bg {
        background-color: $super-light-grey;
        color: $dark-grey;
    }
    &.near-white-bg {
        background-color: $near-white;
        color: $dark-grey;
    }

    // Home Page
    &#welcome {
        color: $grey;
        padding-top: 0;
        text-align: center;
        p, h2 {
            margin: 0;
        }
        h2 {
            margin-top: 35px;
        }
    }
    &#whatIDoSection {}
    &#parallaxSection {
        height: 400px;
        padding-top: 0;
        .parallax-image, .parallax-shade {
            height: 400px;
            position: absolute !important;
            width: 100%;
            .parallax-box {
                border-left: 1px solid white;
                border-right: 1px solid white;
                float: left;
                height: 400px;
                width: 20%;
                &:first-child {
                    border-left: 0;
                }
                &:last-child {
                    border-right: 0;
                }
            }
        }
        // .parallax-content {
        //     color: $white;
        //     height: 184px;
        //     position: relative;
        // }
    }
    &#aboutSection {
        padding-top: 0;

        background-image: url("/images/img_parallax.jpg");
        background-position: 50% 50%;
        background-size: cover;
        .parallax-image, .parallax-shade {
            height: 100vh;
            position: absolute !important;
            width: 100%;
            .parallax-box {
                float: left;
                height: 100vh;
                width: 100%;
                // background-position: 50% 100% !important;
                // background-size: 100% auto !important;

                &.desktop-view {
                    display: block;
                }
                &.tablet-view, &.mobile-view {
                    display: none;
                }
            }
        }

        // position: relative;
        // &.parallax {
        //     background-image: url("/images/img_parallax.jpg");
        //     background-position: 50% 50%;
        //     color: $white;
        //     background-size: cover;

        //     -webkit-overflow-scrolling: touch;
        //     -moz-overflow-scrolling: touch;
        //     overflow-scrolling: touch;

        //     -webkit-transition: none !important;
        //     -moz-transition: none !important;
        //     -o-transition: none !important;
        //     transition: none !important;
        // }

        .about-me-image, .about-me-shade {
            height: 100vh;
            position: absolute !important;
            width: 100%;
        }
        .about-me-content {
            color: $white;
            position: relative;
        }
    }
    &#whatPeopleThinkSection {
        padding-top: 0;
        #quoteCarousel .carousel-control {
            display: none;
        }

        #quoteCarousel ol.carousel-indicators {
            bottom: -60px;
            z-index: 1;
            li {
                border: 2px solid $white;
                border-radius: 2px;
                margin: 10px;

                height: 20px;
                width: 20px;

                -webkit-transition: all .5s ease-in-out;
                -moz-transition: all .5s ease-in-out;
                transition: all .5s ease-in-out;
                &.active {
                    border: 10px solid $white;
                    border-radius: 20px;

                    -webkit-transition: all .5s ease-in-out;
                    -moz-transition: all .5s ease-in-out;
                    transition: all .5s ease-in-out;
                }
            }
        }

        #quoteCarousel p.quote-text {
            font-style: italic;
            text-align: left;
            margin-bottom: 0;
            a {
                color: $white;
            }
        }

        .recommendation-modal {
            background: rgba(0,0,0,0.5);
            .modal-dialog {
                .modal-content {
                    .modal-header,
                    .modal-body,
                    .modal-footer {
                        color: #888;
                    }
                    .modal-header {
                        .modal-title {
                            text-align: left;
                        }
                        .close {
                            i {
                                cursor: pointer;
                                font-size: 2em;
                                top: 8px;
                                position: absolute;
                                right: 15px;
                            }
                        }
                    }
                    .modal-body {
                        text-align: left;
                        .quote-recommendation-comment {
                            max-height: 300px;
                            overflow-y: scroll;
                            padding-bottom: 20px;
                        }
                        &:after {
                            // gradient BG
                            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+100&0+0,1+100 */
                            background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%); /* FF3.6-15 */
                            background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%); /* Chrome10-25,Safari5.1-6 */
                            background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

                            bottom: 49px;
                            content: '';
                            height: 40px;
                            left: 0;
                            position: absolute;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    
    // Profile Page
    &#profilePage {
        background-color: $near-white;
    }

    // Portfolio / GitHub Section
    &#portfolioSection, &#githubSection, &#keyProfessionalSkillsSection, &#qualificationAndEducationSection {
        padding-top: 30px;
        .container {
            .row-fluid {
                margin-left: -15px;
                margin-right: -15px;
            }
        }
    }

    &#keyProfessionalSkillsSection, &#qualificationAndEducationSection {
        padding-top: 80px;
        .container {
            ul {
                &.key-skills-list {
                    list-style: disc;
                    padding-left: 20px;
                }
            }
        }
    }

    &#qualificationAndEducationSection {
        .container {
            .row-fluid {
                margin-bottom: 50px;
                >div {
                    p {
                        margin-bottom: 0;
                    }
                    .download-cv {
                        // background-color: rgba(0, 189, 255, 1);
                        // border-radius: 4px;
                        // cursor: pointer;
                        // margin-bottom: 40px;
                        // padding: 20px 0;
                        // text-align: center;
                        // -webkit-transition: all .2s ease-in-out;
                        // -moz-transition: all .2s ease-in-out;
                        // transition: all .2s ease-in-out;
                        a {
                            border: 0;
                            color: $white;
                            i {
                                font-size: 1.4em;
                                margin: 0 10px;
                            }   
                        }
                        // &:hover {
                        //     background: rgba(190,190,190,1);
                        //     -webkit-transition: all .2s ease-in-out;
                        //     -moz-transition: all .2s ease-in-out;
                        //     transition: all .2s ease-in-out;
                        // }
                    }
                }
            }
        }
    }

    &#githubSection {
        padding-top: 80px;
        .container {
            .row-fluid {
                .github-icon {
                    height: 100px;
                    margin-bottom: 20px;
                    position: relative;
                    a {
                        border: 0;
                        font-size: 15px;
                        i {
                            font-size: 4em;
                            -webkit-transition: all .2s ease-in-out;
                            -moz-transition: all .2s ease-in-out;
                            transition: all .2s ease-in-out;
                        }
                        &.url-link  {
                            left: 25px;
                            position: absolute;
                            top: 70px;
                        }
                        .external-link {
                            left: -25px;
                            position: absolute;
                            top: 6px;
                        }
                        p {
                            border-bottom: 1px solid $light-grey;
                            padding-bottom: -2px;
                            -webkit-transition: all .2s ease-in-out;
                            -moz-transition: all .2s ease-in-out;
                            transition: all .2s ease-in-out;
                        }
                    }

                    &:hover {
                        a {
                            border: 0;
                            i {
                                -webkit-transition: all .2s ease-in-out;
                                -moz-transition: all .2s ease-in-out;
                                transition: all .2s ease-in-out;
                            }
                            p {
                                border-bottom: 1px dashed $light-grey;
                                padding-bottom: 2px;
                                -webkit-transition: all .2s ease-in-out;
                                -moz-transition: all .2s ease-in-out;
                                transition: all .2s ease-in-out;
                            }
                        }
                    }
                }
                ul {
                    &.github-repos {
                        list-style: none;
                        margin: 0;
                        padding: 0;

                        li {
                            margin-bottom: 40px;
                            h3 {
                                margin: 0;

                                display: block;
                                height: 33px;
                                margin: 0 auto;
                                line-height: 1.4;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            span.external-link {
                                &.github-repos { 
                                    margin-top: 3px;
                                }
                            }
                            .url-holder {
                                a {
                                    p {
                                        margin: 0;
                                        display: block;
                                        display: -webkit-box;
                                        height: 33px;
                                        margin: 0 auto;
                                        line-height: 1.4;
                                        -webkit-line-clamp: 1;
                                        -webkit-box-orient: vertical;
                                        overflow: hidden;
                                        text-overflow: ellipsis;

                                        span {
                                            border-bottom: 1px solid $light-grey;
                                            padding-bottom: 2px;
                                            -webkit-transition: all .2s ease-in-out;
                                            -moz-transition: all .2s ease-in-out;
                                            transition: all .2s ease-in-out;
                                        }
                                    }
                                    &:hover {
                                        p {
                                            span {
                                                border-bottom: 1px dashed $light-grey;
                                                padding-bottom: 6px;
                                                -webkit-transition: all .2s ease-in-out;
                                                -moz-transition: all .2s ease-in-out;
                                                transition: all .2s ease-in-out;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                p {
                    a {
                        border-color: $light-grey;
                    }
                }
            }
        }
    }

    &#contactMeSection {
        .container {
            #fbContactForm {
                margin-bottom: 100px;
                margin-top: 40px;
                form {
                    .alert {
                        margin-bottom: 50px;
                    }
                    .form-group {
                        margin-bottom: 50px;
                        >div {
                            position: relative;
                            label {
                                color: #999;
                                font-size: 15px;
                                font-weight: 300;
                                left: 0;
                                margin: 0;
                                padding: 0;
                                position: absolute;
                                top: 12px;
                                transition: 0.2s all;
                                -moz-transition: 0.2s all;
                                -webkit-transition: 0.2s all;
                                &.has-focus, &.is-filled {
                                    color: #00bdff;
                                    position: absolute;
                                    top: -27px;
                                }
                            }
                            .input-group {
                                display: block;
                                margin-bottom: 40px;
                                &:after {
                                    content: '';
                                    display: block;
                                    clear: both;
                                }
                                input, textarea {
                                    background: rgba(0,0,0,0);
                                    border: 0;
                                    border-radius: 0;
                                    border-bottom: 1px solid #999;
                                    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
                                    -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
                                    box-shadow: 0 0 0 rgba(0,0,0,0);
                                    font-size: 15px;
                                    height: 50px;
                                    padding: 0;
                                    position: relative;
                                    transition: 0.2s all;
                                    -moz-transition: 0.2s all;
                                    -webkit-transition: 0.2s all;
                                    &:focus, &.has-focus, &.is-filled, &:focus {
                                        border-top: 1px solid #00bdff;
                                        border-right: 1px solid #00bdff;
                                        border-bottom: 4px solid #00bdff;
                                        border-left: 1px solid #00bdff;
                                        padding: 10px 10px 10px 40px;
                                    }
                                    &.is-filled:not(.has-focus) {
                                        border-top: 0;
                                        border-right: 0;
                                        border-bottom: 1px solid #00bdff;
                                        border-left: 0;
                                        padding: 0;
                                    }
                                    &:-webkit-autofill {
                                        background-color: rgba(255,255,255,0) !important;
                                        background-image: none;
                                        color: #555;
                                    }
                                }
                                textarea {
                                    height: 180px;
                                    left: 0;
                                    top: 0;
                                }
                            }
                        }
                        &.textarea-style {
                            >div {
                                label {
                                    top: 9px;
                                    &.has-focus, &.is-filled {
                                        top: -27px;
                                    }
                                }
                            }
                        }
                        &.has-error {
                            >div {
                                label {

                                }
                                .input-group {
                                    input, textarea {
                                        border-color: #a94442;
                                    }
                                    formio-errors {
                                        >div {
                                            p {
                                                &.help-block {
                                                    font-size: 15px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        button#submit {
                            background-color: rgba(0, 189, 255, 1);
                            background-image: none;
                            border: 0;
                            border-radius: 4px;
                            margin-bottom: 40px;
                            padding: 20px 0;
                            text-align: center;
                            -webkit-transition: all .2s ease-in-out;
                            -moz-transition: all .2s ease-in-out;
                            transition: all .2s ease-in-out;
                            width: 50%;
                            &:disabled {
                                background-color: rgba(0, 189, 255, 0.4);
                                &:hover {
                                    background-color: rgba(0, 189, 255, 0.4);
                                }
                            }

                            &:hover {
                                background: rgba(190,190,190,1);
                            }
                        }
                    }
                }
            }
        }
    }

    &#thankYouSection {
        padding-top: 120px;
        .container {
            .row-fluid {
                margin-left: -15px;
                margin-right: -15px;
            }
        }
    }

    &.standard-section {
        height: inherit;
        min-height: inherit;
        padding-bottom: 20px;
        padding-top: 20px;

        h2 {
            margin: 0 0 30px 0;
        }
    }

    &.profile-page {
        height: inherit;
        min-height: inherit;
        padding-bottom: 20px;
        padding-top: 20px;
        &.career-summary-title {
            border-bottom: 1px solid #f1f1f1;
            margin: 40px 0 0 0;
            padding: 0;
        }
        &.career-summary {
            &:nth-child(2n) {
                background-color: $near-white;
            }

            .career-details-above-the-fold {
                position: relative;
                .show-hide-details-container {
                    border-radius: 50%;
                    cursor: pointer;
                    line-height: 2;
                    padding-bottom: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    border: 1px solid #666666;
                    .show-hide-symbol {
                        width: 40px;
                        height: 40px;
                        color: $grey;
                        text-align: center;
                        &.plus {
                            &:before {
                                content: '+';
                                font-size: 50px;
                                display: inline-block;
                                vertical-align:middle;
                                line-height:0;
                                padding-bottom: 10px;
                                
                                position: absolute;
                                top: 17px;
                                left: 5px;

                                -moz-transition: 0.5s all;
                                -webkit-transition: 0.5s all;
                            }
                        }
                        &.minus {
                            &:before {
                                content: '–';
                                font-size: 50px;
                                display: inline-block;
                                vertical-align:middle;
                                line-height:0;
                                padding-bottom: 10px;
                                
                                position: absolute;
                                top: 16px;
                                left: 7px;

                                -moz-transition: 0.5s all;
                                -webkit-transition: 0.5s all;
                            }
                        }
                        &:hover {
                            &:before {
                                -moz-transform: rotate(360deg);
                                -webkit-transform: rotate(360deg);
                            }
                        }
                    }
                }
            }
        }

        .scroll-arrow-container {
            a {
                &.scroll-arrow {
                    &:hover {
                        border-bottom: 1px solid #666666;
                    }
                }
            }
        }
        ul {
            list-style: none;
            margin: 0 0 35px;
            padding: 0;
            &.responsibilities-list {
                list-style-type: disc;
                margin-bottom: 0;
                padding-left: 18px;
                li {
                    padding-left: 12px;
                }
            }
            li {
                p {
                    margin-bottom: 0;
                }
            }
        }
        .technologies-used-list {
            margin-bottom: 0;
            span {
                background: $super-light-grey;
                border-radius: 4px;
                color: $grey;
                float: left;
                margin-bottom: 10px;
                margin-right: 10px;
                padding: 5px 10px;
            }
        }
    }

    &.back-to-top-section {
        min-height: 130px;
    }

    &.first-section {
        padding-top: 120px;
        h1 {
            margin: 0 0 10px;
        }
        p {
            margin-bottom: 10px;
        }
    }
}

.cisco-silhouette-container {
    margin: 0 auto 35px;
    height: 200px;
    width: 200px;
    -webkit-transition: all .5s ease-in-out,top .5s ease-in-out;
    -moz-transition: all .5s ease-in-out,top .5s ease-in-out;
    transition: all .5s ease-in-out,top .5s ease-in-out;
    .cisco-silhouette-image {
        background-image: url("/images/cisco-silhouette.svg"); //50% 50% cover
        background-size: 90%;
        background-position-y: 5px;
        background-position-x: 10px;
        background-repeat: no-repeat;
        border-radius: 50%;
        height: 100%;
        width: 100%
    }
}

.fb-logo-big {
    margin: 0 auto;
    width: 280px;
    img {
        height: auto;
        width: 100%;
    }
}