@import "_variables";
.flip {
  -webkit-perspective: 800;
  height: 350px;
  position: relative;
  margin: 0 auto;
  .card {
    border: 1px solid $light-grey;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    &.flipped {
      -webkit-transform: rotatey(-180deg);
      .back {
        background-color: #f1f1f1;
        border-radius: 15px;
      }
    }
    .face {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-backface-visibility: hidden ;
      z-index: 2;
      text-align: center;
      .content-main {
        .ui-image {
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          overflow: hidden;
          height: 281px;
          img {
            width: 100%;
            height: auto;
          }
        }
        .ui-details {
          background: rgba(0,0,0,0.8);
          bottom: 140px;
          color: $white;
          display: table;
          height: 140px;
          padding: 20px;
          position: relative;
          width: 100%;
          z-index: 10;
          .ui-details-holder {
            display: table-cell;
            vertical-align: middle;
            .ui-client-text {
              font-size: 18px;
              font-weight: 400;
              line-height: 1.4;
            }
            .ui-name-text {}
          }
        }
      }
      .content-footer {
        border-top: 1px solid #cccccc;
        bottom: 0;
        cursor: pointer;
        left: 0;
        padding: 20px 0;
        position: absolute;
        width: 100%;
        i {
          color: $light-grey;
        }
      }
    }
    .front {
      position: absolute;
      z-index: 1;
      color: $black;
    }
    .back {
      color: $black;
      -webkit-transform: rotatey(-180deg);
      .content-main {
        padding: 20px;
        .ui-client-text {
          font-size: 24px;
          line-height: 1;
          margin-bottom: 15px;
        }
        .ui-name-text {
          font-size: 20px;
          line-height: 1;
          margin-bottom: 15px;
        }
        .ui-url {
          display: block;
          display: -webkit-box;
          height: 26px;
          margin: 0 auto 15px;
          font-size: 15px;
          line-height: 1.4;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .btn-tech-used {
          margin-top: 10px;
          span {
            background: rgba(0,0,0,0.1);
            border-radius: 4px;
            color: $black;
            cursor: pointer;
            padding: 5px 10px;
            position: relative;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
          }
          &:hover {
            span {
              background: rgba(0,0,0,0.2);
              color: $white;
              -webkit-transition: all .2s ease-in-out;
              -moz-transition: all .2s ease-in-out;
              transition: all .2s ease-in-out;
            }
          }
        }

        .technologies-used-container {
          background: $white;          
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          height: 280px;
          left: 0;
          padding: 10px;
          position: absolute;
          top: 0;
          text-align: center;
          width: 100%;
          .close-tech-container {
            border-bottom: 1px solid #e1e1e1;
            left: -10px;
            margin-bottom: 20px;
            padding-bottom: 10px;
            position: relative;
            width: calc(100% + 20px);
            .flip-title {
              color: $grey;
              font-weight: 300;
              font-size: 18px;
              text-align: center;
              text-transform: uppercase;
              i {
                cursor: pointer;
                position: absolute;
                right: 20px;
                font-size: 2em;
              }
            }
          }
          span {
            background: #dddddd;
            border-radius: 4px;
            color: #666666;
            display: inline-flex;
            display: -webkit-inline-flex;
            font-size: 15px;
            margin-bottom: 5px;
            margin-right: 5px;
            padding: 0px 5px;
          }
        }
      }
    }
  }
}