<span scroll-spy>
	<!-- Welcome -->
	<section id="welcome" class="center-content-container">
		<div class="content-centered text-center">
			<div class="container">
				<h1>
					<div class="fb-logo-big">
						<img src="images/fb-logo-grey.svg" alt="Francisco Benedict" />
					</div>
				</h1>

				<!-- <p>{{fbArray}}</p> -->
				<p ng-bind-html="fbArray[1].welcomeSection.paragraphText1"></p>
				<p ng-bind-html="fbArray[1].welcomeSection.paragraphText2"></p>

				<h2>Welcome</h2>

				<div class="scroll-arrow-container page-scroll">
					<a class="nav-link nav-desktop grey-scroll scroll-arrow" scroll-to="#whatIdoSection">
						<i class="fa fa-angle-down"></i>
					</a>
				</div>
			</div>
		</div>
	</section>

	<!-- What I Do -->
	<section id="whatIdoSection" class="light-grey-bg home-page-other-sections">
		<div class="container">
			<h2>What I do</h2>
			
			<div class="row-fluid">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding0">
					<p ng-bind-html="fbArray[1].whatIDo.whatIDoIntro"></p>

					<h3>Web Development</h3>
					<p ng-bind-html="fbArray[1].whatIDo.webDevelopment.intro"></p>
					
					<h3>Graphic Design</h3>
					<p ng-bind-html="fbArray[1].whatIDo.graphicDesign.intro"></p>
				</div>
			</div>

			<div class="scroll-arrow-container page-scroll">
				<a class="nav-link nav-desktop scroll-arrow" scroll-to="#whatPeopleThinkSection">
					<i class="fa fa-angle-down"></i>
				</a>
			</div>
		</div>
	</section>

	<!-- Wat People Think -->
	<section id="whatPeopleThinkSection" class="center-content-container grey-bg">
		<div class="content-centered text-center">
			<div class="container">
				<div class="row-fluid">
					<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
						<h2 class="text-left">What people think</h2>
					</div>
				</div>
				<div class="row-fluid">
					<div id="quoteCarousel" class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
						<carousel interval="myInterval">
							<slide ng-repeat="slide in fbArray[1].whatPeopleThink" active="slide.active">
								<div class="text-left"><i class="fa fa-quote-left fa-2x"></i></div>
								<p class="quote-text">{{slide.quote}}</p>
								<div class="text-right"><i class="fa fa-quote-right fa-2x"></i></div>
								<div class="text-right">{{slide.quoteBy}}</div>
								<div class="text-right">{{slide.position}}</div>
								<!-- <div ng-if="slide.website" class="text-right">{{slide.website}}</div> -->
							</slide>
						</carousel>
					</div>
				</div>

				<div class="scroll-arrow-container page-scroll">
					<a class="nav-link nav-desktop scroll-arrow white-scroll" scroll-to="#aboutSection">
						<i class="fa fa-angle-down"></i>
					</a>
				</div>
			</div>
		</div>
	</section>

	<!-- About Cisco -->
	<section id="aboutSection" class="center-content-container parallax" parallax-scrolling>
		<div class="content-centered text-center background-40-percent">
			<div class="container">
				<h2>About me</h2>

				<div class="row-fluid">
					<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
						<p ng-bind-html="fbArray[1].aboutCisco.paragraphText1"></p>
					</div>
				</div>

				<div class="scroll-arrow-container page-scroll">
					<a class="nav-link nav-desktop scroll-arrow white-scroll up" scroll-to="#pageTop">
						<i class="fa fa-angle-double-up"></i>
					</a>
				</div>
			</div>
		</div>
	</section>
</span>