<!-- Welcome -->
<section id="welcome" class="center-content-container">
	<div class="container content-centered text-center">
		<div class="cisco-silhouette-container">
			<div class="cisco-silhouette-image"></div>
		</div>

		<h1>
			<div class="fb-logo-big">
				<img src="images/fb-logo-grey.svg" alt="Francisco Benedict" />
			</div>
		</h1>

		<!-- <p>{{fbArray}}</p> -->
		<div>date: {{ today | date : "yyyy" }}</div>
		<div ng-bind-html="today | date : 'yyyy'"></div>

		<p ng-bind-html="fbArray[1].welcomeSection.paragraphText1"></p>
		<p ng-bind-html="fbArray[1].welcomeSection.paragraphText2"></p>

		<h2>Welcome</h2>

		<div class="scroll-arrow-container page-scroll">
			<a class="nav-link nav-desktop scroll-arrow" scroll-to="#aboutSection">
				<i class="fa fa-angle-down"></i>
			</a>
		</div>
	</div>
</section>

<!-- About Cisco -->
<section id="aboutSection" class="center-content-container">
	<div class="container content-centered text-center background-40-percent">
		<h2>About me</h2>

		<div class="row-fluid">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
				<p ng-bind-html="fbArray[1].aboutCisco.paragraphText1"></p>
			</div>
		</div>

		<div class="scroll-arrow-container page-scroll">
			<a class="nav-link nav-desktop scroll-arrow white-scroll" scroll-to="#whatIdoSection">
				<i class="fa fa-angle-down"></i>
			</a>
		</div>
	</div>
</section>

<!-- What I Do -->
<section id="whatIdoSection" class="light-grey">
	<div class="container">
		<h2>What I do</h2>
		<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
		<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
		<div class="scroll-arrow-container page-scroll">
			<a class="nav-link nav-desktop scroll-arrow white-scroll" scroll-to="#whatPeopleThinkSection">
				<i class="fa fa-angle-down"></i>
			</a>
		</div>
	</div>
</section>

<!-- Wat People Think -->
<section id="whatPeopleThinkSection" class="dark-grey">
	<div class="container">
		<h2>What people think</h2>
		<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
		<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
		<div class="scroll-arrow-container page-scroll">
			<a class="nav-link nav-desktop scroll-arrow up" scroll-to="#pageTop">
				<i class="fa fa-angle-double-up"></i>
			</a>
		</div>
	</div>
</section> 