<section id="profilePage" class="profile-page center-content-container">
	<div class="container">
		<h1>Profile</h1>
		<div ng-bind-html="fbArray[2].profileIntro"></div>
	</div>
</section>


<section class="profile-page career-summary-title">
	<div class="container">
		<h2>Career Summary</h2>
	</div>
</section>

<section class="profile-page career-summary" ng-repeat="careerSummary in fbArray[2].careerSummary">
	<div class="container">

		<!-- DATE / CLIENT -->
		<div class="row-fluid" ng-if="careerSummary.dateWorked">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding0">
				<p class="date-worked bold" ng-bind-html="careerSummary.dateWorked"></p>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 padding0">
				<p class="client-name bold" ng-bind-html="careerSummary.clientName"></p>
			</div>
			<div class="clearfix"></div>
		</div>

		<!-- JOB TITLE -->
		<div class="row-fluid" ng-if="careerSummary.jobTitle">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding0">
				<p class="title-txt bold">Title</p>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 padding0">
				<p class="job-title" ng-bind-html="careerSummary.jobTitle"></p>
			</div>
			<div class="clearfix"></div>
		</div>

		<!-- PROJECT -->
		<div class="row-fluid" ng-if="careerSummary.projectTitle">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding0">
				<p class="project-txt bold">Project</p>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 padding0">
				<p class="project-title" ng-bind-html="careerSummary.projectTitle"></p>
			</div>
			<div class="clearfix"></div>
		</div>

		<!-- DESCRIPTION -->
		<div class="row-fluid" ng-if="careerSummary.description">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding0">
				<p class="description-txt bold">Description</p>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 padding0">
				<p class="description-title" ng-bind-html="careerSummary.description"></p>
			</div>
			<div class="clearfix"></div>
		</div>

		<!-- WEBSITE -->
		<div class="row-fluid" ng-if="careerSummary.websiteUrl.length > 0">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding0">
				<p class="website-txt bold">Website</p>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 padding0">
				<ul class="website-url">
					<li ng-repeat="url in careerSummary.websiteUrl">
						<p>
							<span class="external-link"></span>
							<a ng-href="{{url}}" target="_blank">{{url}} <span class="a11y">(this site opens in a new window)</span></a>
						</p>
					</li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>

		<!-- TECHNOLOGIES -->
		<div class="row-fluid" ng-if="careerSummary.technologiesUsed.length > 0">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding0">
				<p class="technologies-used-txt bold">Technologies used</p>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 padding0">
				<p class="technologies-used-list">
					<span ng-repeat="techUsed in careerSummary.technologiesUsed">{{techUsed}}</span>
					<div class="clearfix"></div>
				</p>
			</div>
			<div class="clearfix"></div>
		</div>

		<!-- RESPONSIBILITIES -->
		<div class="row-fluid" ng-if="careerSummary.responsibilitiesAndInvolvement.length > 0">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding0">
				<p class="technologies-used-txt bold">Responsibilities</p>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 padding0">
				<ul class="responsibilities-list">
					<li ng-repeat="responsibility in careerSummary.responsibilitiesAndInvolvement">
						<p ng-bind-html="responsibility"></p>
					</li>
				</u>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</section>

<section class="profile-page">
	<div class="container">
		<h2>Key professional skills</h2>
		<ul>
			<li></li>
		</ul>

		<h2>Qualification &amp; Education</h2>
	</div>
</section>