<!-- parallax-scrolling -->
<section id="parallaxSection" class="center-content-container">
	<div class="parallax-image">
		<div class="parallax-box" ng-parallax ng-parallax pattern="'images/cloud-pattern.jpg'" speed="-10" reverse="true"></div>
		<div class="parallax-box" ng-parallax ng-parallax pattern="'images/cloud-pattern.jpg'" speed="-2" reverse="true"></div>
		<div class="parallax-box" ng-parallax ng-parallax pattern="'images/cloud-pattern.jpg'" speed="10" reverse="true"></div>
		<div class="parallax-box" ng-parallax ng-parallax pattern="'images/cloud-pattern.jpg'" speed="5" reverse="true"></div>
		<div class="parallax-box" ng-parallax ng-parallax pattern="'images/cloud-pattern.jpg'" speed="2" reverse="true"></div>
	</div>
	<div class="parallax-shade background-40-percent"></div>
</section>