<!-- Secondary Nav - Desktop -->
<nav class="secondary-nav" role="navigation">
   <div class="container">
      <ul class="list-inline text-right nav">
         <li class="page-scroll" data-scrollspy-listen="welcome">
            <a class="nav-link nav-desktop" scroll-to="#welcome">Welcome</a>
         </li>
         <li class="page-scroll" data-scrollspy-listen="whatIdoSection">
            <a class="nav-link nav-desktop" scroll-to="#whatIdoSection">What I do</a>
         </li>
         <li class="page-scroll" data-scrollspy-listen="whatPeopleThinkSection">
            <a class="nav-link nav-desktop" scroll-to="#whatPeopleThinkSection">What people think</a>
         </li>
         <li class="page-scroll" data-scrollspy-listen="aboutSection">
            <a class="nav-link nav-desktop" scroll-to="#aboutSection">About me</a>
         </li>
      </ul>
   </div>
</nav>