nav {
    line-height: 1.2;
    .container {
        .navbar-collapse {
            margin-top: 10px;
            .navbar-nav {
                ul {
                    li {
                        a {
                            &:hover {
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
    .secondary-nav-mobile {
        display: block;
        top: 50px;
        -webkit-transition: all .5s ease-in-out,top .5s ease-in-out;
        -moz-transition: all .5s ease-in-out,top .5s ease-in-out;
        transition: all .5s ease-in-out,top .5s ease-in-out;
        ul {
            background: #666666;
            border-top: 1px solid $grey;
            margin: 0;
            padding: 0;
            li {
                padding-right: 0;
                padding-left: 0;
                a {
                    display: block;
                    padding: 10px 35px;
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
}
.secondary-nav {
    display: none;
    top: 50px;
    -webkit-transition: all .5s ease-in-out,top .5s ease-in-out;
    -moz-transition: all .5s ease-in-out,top .5s ease-in-out;
    transition: all .5s ease-in-out,top .5s ease-in-out;
}

section {
    .external-link {
        font-size: 12px; 
        margin-right: 5px;
    }
    &.profile-page {
        ul{
            &.responsibilities-list {
                li {
                    padding-left: 0;
                }
            }
        }
    }
    

    &.home-page-other-sections, &.other-pages {
        padding-top: 60px;
    }


    &#aboutSection {
        .parallax-image, .parallax-shade {
            .parallax-box {
                &.desktop-view, &.tablet-view {
                    display: none;
                }
                &.mobile-view {
                    display: block;
                }
            }
        }
    }

    &#githubSection {
        .container {
            .row-fluid {
                ul {
                    &.github-repos {
                        li {
                            .url-holder {
                                a {
                                    p {
                                        height: 26px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &#contactMeSection {
        .container {
            #fbContactForm {
                form {
                    .form-group {
                        button#submit {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    &#whatPeopleThinkSection {
        #quoteCarousel {
            .quote-details {
                font-size: 12px;
            }
        }
        .recommendation-modal {
            .modal-dialog {
                .modal-content {
                    .modal-footer {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.footer-links {
    ul {
        li {
            a {
                font-size: 18px;
            }
        }
    }
}