html {
    body {
        #getNewDinerName {
            #inputForNewDinerName {
                #dinerNamePrompt {
                    label {
                        #dinerName {}
                        #addDinerName {}
                    }
                }
            }
        }
        #wrap {
            .image-overlay {}
            a.scrollup {
                a.scrollup i {}
            }
            a.scrollup:hover {}
            .container {
                .content {
                    #pageTitle {}
                    .dish {
                        .food-name {}
                        .food-price {}
                        .select-container {
                            .toggle-select.disabled-diner-food-item {
                                label {}
                            }
                        }
                        .imageFood {
                            img {}
                        }
                    }
                    .dish:last-child {}
                    #subTotal {
                        .users {
                            div.count-symbol {
                                span.person-count {}
                                i {}
                            }
                            .diners-name {}
                            .individual-total {
                                .service-charge-included {
                                    .cb-service-charge {}
                                }
                            }
                            .remove-diner {
                                .count-symbol {
                                    float: left;
                                }
                                .diners-name {
                                    width: 300px;
                                }
                            }
                        }
                        .users.diner-disabled {}
                    }
                    #addDinerBtn {}
                    #grandTotalContainer {
                        div.total-symbols {
                            i {}
                        }
                        #grandTotal {
                            width: 250px;
                        }
                        #serviceCharge {
                            margin-top: 0;
                            label {}
                        }
                    }
                }
                #getPrimeDinerName.name-input {
                    form#dinerNamePrompt {
                        .dialogue-text {}
                        label#dinerNamePromptLabel {
                            input#dinerName {
                                max-width: 80%;
                            }
                            a#addPrimeDinerName.btn {}
                            a#addPrimeDinerName.btn:hover {}
                            a#addPrimeDinerName.btn.disabled {}
                        }
                    }
                }
                #selectATable {
                    a.btn {
                        width: 50%;
                    }
                }
            }
        }
        #footer {
            .container {
                .row {
                    .the-copyright-stuff {
                        #copyrightNotice {}
                        #presentedBy {}
                    }
                    #iconLinks {
                        ul {
                            li {
                                a {
                                    i {
                                        font-size: 5em;
                                    }
                                }
                                a:hover {}
                            }
                            li:first-child {
                                a {}
                            }
                        }
                    }
                }
            }
        }
    }
}