section {
    &#welcome {
        padding-top: 0;
        -webkit-transition: all .5s ease-in-out,top .5s ease-in-out;
        -moz-transition: all .5s ease-in-out,top .5s ease-in-out;
        transition: all .5s ease-in-out,top .5s ease-in-out;
    }
    padding-top: 120px;
}

.cisco-silhouette-container {
    margin: 50px auto 30px;
    height: 120px;
    width: 120px;

    -webkit-transition: all .5s ease-in-out,top .5s ease-in-out;
    -moz-transition: all .5s ease-in-out,top .5s ease-in-out;
    transition: all .5s ease-in-out,top .5s ease-in-out;
}
h1 {
	.fb-logo-big {
		width: 80px;
	}
}