<div class="flip" flip-card-content="flipCard"> 
    <div class="card" ng-class="{'flipped':isFlipped}"> 
        <div class="face front">
            <div class="content-main">
	            <div class="ui-image">
	            	<img ng-if="flipCard.frontPanel.imageUrl" ng-src="{{flipCard.frontPanel.imageUrl}}" alt="">
	            </div>
	            <div class="ui-details">
	            	<div class="ui-details-holder">
		            	<div class="ui-client-text">{{flipCard.frontPanel.client}}</div>
		            	<div class="ui-name-text">{{flipCard.frontPanel.name}}</div>
            		</div>
            	</div>
            </div>
            <div class="content-footer" ng-click="isFlipped=!isFlipped">
            	<i class="fa fa-mail-forward"></i>&nbsp;<span>Flip card</span>
            </div>
        </div> 
        <div class="face back">
            <div class="content-main">
            	<div class="ui-client-text">{{flipCard.backPanel.client}}</div>
            	<div class="ui-name-text">{{flipCard.backPanel.name}}</div>
            	<a class="dont-break-out" ng-href="flipCard.backPanel.webUrl" target="_blank">{{flipCard.backPanel.webFriendlyUrl}}</a>
            </div>
            <div class="content-footer" ng-click="isFlipped=!isFlipped">
            	<i class="fa fa-reply"></i>&nbsp;<span>Back</span>
            </div>
        </div> 
    </div> 
</div>