<!-- Secondary Nav - Desktop -->
<nav class="secondary-nav" role="navigation" secondary-nav-spy>
   <div class="container">
      <ul class="list-inline text-right nav">
         <li class="page-scroll">
            <a class="nav-link nav-desktop" href="#pageTop" scroll-to="#pageTop" ng-click="checkLocation()">Welcome</a>
         </li>
         <li class="page-scroll">
            <a class="nav-link nav-desktop" href="#whatIdoSection" scroll-to="#whatIdoSection" ng-click="checkLocation()">What I do</a>
         </li>
         <li class="page-scroll">
            <a class="nav-link nav-desktop" href="#whatPeopleThinkSection" scroll-to="#whatPeopleThinkSection" ng-click="checkLocation()">What people think</a>
         </li>
         <li class="page-scroll">
            <a class="nav-link nav-desktop" href="#aboutSection" scroll-to="#aboutSection" ng-click="checkLocation()">About me</a>
         </li>
      </ul>
   </div>
</nav>