html {
    height: 100%;
    body {
        /* Base default styles */
        border: 0;
        color: #fff;
        font: 18px $main-font;
        margin: 0;
        padding: 0;
        height: 100%;
        @import "_defaults";
        #getNewDinerName {
            position: fixed;
            z-index: 1040;
            #inputForNewDinerName {
                background-color: rgba(50, 50, 50, 1);
                border: 1px solid #000;
                border-radius: 20px;
                margin: 120px auto;
                max-width: 80%;
                padding: 20px;
                position: relative;
                // width: calc($viewport-maxwidth - 140px);
                width: calc(1280px - 140px);
                .cancel-add-diner {
                    cursor: pointer;
                    font-size: 45px;
                    line-height: 0;
                    opacity: 0.5;
                    transition: $ease;
                }
                .cancel-add-diner:hover {
                    opacity: 1;
                    transition: $ease;
                }
                #dinerNamePrompt {
                    text-align: center;
                    label {
                        font-size: 20px;
                        text-align: center;
                        #dinerName {
                            background-color: $grey;
                            border: 2px solid transparent;
                            border-radius: 8px;
                            color: #999;
                            font-size: 20px;
                            height: 34px;
                            margin: 20px 0;
                            text-align: center;
                            width: 100%;
                        }
                        #addDinerName {
                            padding-top: 10px;
                        }
                    }
                }
            }
        }
        #wrap {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            /* Negative indent footer by its height */
            margin: 0 auto -150px;
            /* Pad bottom by footer height */
            padding: 0 0 150px;
            #theNavBar {
                background-color: $black80;
                border-color: $black;
                transition: $long-ease;
                .container {
                    margin-bottom: 0;
                    padding: 0px 15px;
                    .navbar-header {
                        a#aboutWaitMate, a.btn-navbar {
                            transition: $ease;
                            border-color: $grey;
                        }
                        a.btn-navbar:hover {
                            background-color: $white;
                            opacity: 0.5;
                            transition: $ease;
                        }
                        a#aboutWaitMate:hover {
                            color: $white;
                            opacity: 1;
                            transition: $ease;
                        }
                    }
                    #topNav {
                        ul.nav.navbar-nav {
                            li.nav-link {
                                a {
                                    transition: $ease;
                                }
                                a:hover {
                                    color: $white;
                                    opacity: 1;
                                    transition: $ease;
                                }
                            }
                        }
                    }
                    #topNav.in, #topNav.collapsing {
                        border: 0;
                    }
                }
                hr {
                    margin: 0;
                }
                #dinerDetailsContainer {
                    color: $grey;
                    font-size: 12px;
                    height: 30px;
                    margin: 10px 0;
                    #primeDiner {
                        max-width: 200px;
                    }
                    .diner-details {
                        text-align: right;
                        width: 50%;
                        .diner-details-prefix {}
                        #tableName {
                            text-align: right;
                            width: 50px;
                        }
                        #numberOfSeats {
                            text-align: right;
                            width: 50px;
                        }
                    }
                }
                #addDinerNavbar {
                    .container.float {
                        height: 0;
                        margin-bottom: 0;
                        padding: 0 15px;
                        #addAnotherDiner {
                            position: relative;
                            top: 1px;
                            a {
                                background: none repeat scroll 0 0 $green-btn;
                                border-bottom-left-radius: 10px;
                                border-bottom-right-radius: 10px;
                                border-bottom: 1px solid $green;
                                border-left: 1px solid $green;
                                border-right: 1px solid $green;
                                color: $white;
                                font-size: 12px;
                                padding: 10px;
                                position: relative;
                                transition: $ease;
                                top: 4px;
                                i {
                                    font-size: 20px;
                                    position: relative;
                                    top: 2px;
                                }
                            }
                            a:hover, a:focus {
                                text-decoration: none;
                                transition: $ease;
                            }
                        }
                        #addAnotherDiner.disabled, #addAnotherDiner.disabled:hover {
                            a {
                                background: none repeat scroll 0 0 $red-btn;
                                border-color: $red-btn;
                                cursor: not-allowed;
                            }
                        }
                    }
                }
            }
            #theNavBar.solid-black {
                background-color: $black;
                transition: $long-ease;
            }
            a.scrollup {
                width: 40px;
                height: 40px;
                opacity: 0.3;
                position: fixed;
                bottom: 20px;
                right: 20px;
                display: none;
                z-index: 100000;
                transition: $ease;
                i {
                    font-size: 3em;
                }
            }
            a.scrollup:hover {
                color: #fff;
                opacity: 1;
                transition: $ease;
            }
            .container {
                margin-bottom: 40px;
                padding: 30px 15px 0;
                .content {
                    #pageTitle {
                        font-size: 25px;
                    }
                    .cancel-table {
                        transition: $ease;
                    }
                    .cancel-table:hover {
                        transition: $ease;
                    }
                    #tableSelect {
                        font-size: 14px;
                        .table-item {
                            .table-detail {
                                background-color: $grey;
                                border-radius: 5px;
                                cursor: pointer;
                                margin: 0 auto 10px;
                                max-width: 100px;
                                padding: 10px;
                                text-align: left;
                                transition: $ease;
                            }
                        }
                        .table-item.available {
                            .table-detail:hover {
                                background-color: $green;
                                color: $dark-grey;
                                transition: $ease;
                            }
                        }
                        .table-item.available.selected {
                            .table-detail {
                                background-color: $dim-green;
                                color: $light-grey;
                            }
                        }
                        .table-item.unavailable {
                            .table-detail {
                                cursor: not-allowed;
                                background-color: $red;
                                opacity: 0.4;
                            }
                            .table-detail:hover {
                                opacity: 1;
                                transition: $ease;
                            }
                        }
                    }
                    a#assignTable.btn {
                        left: 50%;
                        margin-left: -50px;
                        position: relative;
                        transition: $ease;
                        width: 100px;
                    }
                    a#assignTable.btn.table-disabled {
                        background-color: $red-btn;
                        border-color: $red;
                        cursor: not-allowed;
                        opacity: 0.8;
                        transition: $ease;
                    }
                    a#assignTable.btn.table-disabled:hover, a#assignTable.btn.table-disabled:focus {
                        color: #fff;
                        opacity: 1;
                        transition: $ease;
                    }
                    .dish {
                        border-bottom: 1px solid $grey;
                        margin-bottom: 20px;
                        padding-bottom: 20px;
                        .food-name {
                            float: left;
                            font-weight: 400;
                            margin-bottom: 20px;
                            width: 180px;
                        }
                        .food-price {
                            float: left;
                            margin-bottom: 20px;
                        }
                        .select-container {
                            .toggle-select.disabled-diner-food-item {
                                label {
                                    background-color: rgba(193, 27, 23, 0.2);
                                    border-color: $red;
                                    color: $red;
                                    cursor: not-allowed;
                                }
                            }
                        }
                        .imageFood {
                            height: 120px;
                            margin: 20px 0;
                            width: 180px;
                            img {
                                border-radius: 8px;
                                max-height: 100%;
                                max-width: 100%;
                            }
                        }
                    }
                    .dish:last-child {
                        border-bottom: 0;
                        margin-bottom: 0;
                    }
                    #subTotal {
                        .users {
                            border-bottom: 1px solid $grey;
                            font-size: 1em;
                            min-height: 130px;
                            padding: 20px 0;
                            transition: $ease;
                            div.count-symbol {
                                span.person-count {
                                    margin-right: 20px;
                                }
                                i {
                                    margin-right: 20px;
                                }
                            }
                            .diners-name {
                                margin-right: 20px;
                                padding: 5px 0;
                                text-transform: capitalize;
                                width: 190px;
                            }
                            .individual-total {
                                .service-charge-included {
                                    color: $grey;
                                    font-size: 70%;
                                    .cb-service-charge {
                                        position: relative;
                                        top: 5px;
                                    }
                                }
                            }
                            .remove-diner {
                                bottom: 12px;
                                cursor: pointer;
                                font-size: 45px;
                                height: 50px;
                                left: 10px;
                                opacity: 0.5;
                                position: relative;
                                width: 50px;
                                z-index: 10;
                                i {
                                    transition: $ease;
                                }
                                i.fa-plus {
                                    color: $red;
                                }
                            }
                            .remove-diner:hover {
                                i {
                                    color: $red;
                                    transition: $ease;
                                }
                                i.fa-plus {
                                    color: $green;
                                }
                            }
                            .selected-foods {
                                ul {
                                    margin: 0;
                                    padding: 0;
                                    list-style-type: square;
                                    li {
                                        margin-left: 18px;
                                        .food-item-price {
                                            color: $grey;
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }
                        .users.diner-disabled {
                            background-color: rgba(193, 27, 23, 0.2);
                            cursor: not-allowed;
                            transition: $ease;
                            .count-symbol, .diners-name, .individual-total, .selected-foods {
                                opacity: 0.2;
                            }
                        }
                    }
                    #addDinerBtn {
                        border-bottom: 1px solid $grey;
                        padding: 30px 0;
                        text-align: center;
                        a.add-diner:hover, a.add-diner:focus {
                            color: $white;
                        }
                    }
                    #grandTotalContainer {
                        font-size: 1.5em;
                        div.total-symbols {
                            i {
                                margin-right: 20px;
                            }
                        }
                        #grandTotal {
                            width: 80%;
                        }
                        #serviceCharge {
                            color: $grey;
                            font-size: 12px;
                            margin-top: 20px;
                            label {
                                position: relative;
                                top: 6px;
                                margin-left: 0;
                            }
                        }
                    }
                }
                #getPrimeDinerName.name-input.content {
                    form#dinerNamePrompt {
                        text-align: center;
                        .dialogue-text {
                            font-size: 25px;
                            text-align: center;
                        }
                        label#dinerNamePromptLabel {
                            width: 100%;
                            input#dinerName {
                                background-color: $grey;
                                border: 2px solid transparent;
                                border-radius: 8px;
                                color: #999;
                                font-size: 20px;
                                height: 50px;
                                margin-top: 20px;
                                text-align: center;
                                width: 100%;
                            }
                            a#addPrimeDinerName.btn {
                                font-size: 25px;
                                margin-top: 20px;
                                transition: $ease;
                            }
                            a#addPrimeDinerName.btn:hover {
                                opacity: 1;
                                transition: $ease;
                            }
                            a#addPrimeDinerName.btn.disabled {
                                background-color: $red-btn;
                                border-color: $red;
                                color: #fff;
                                cursor: not-allowed;
                                outline: none;
                                pointer-events: auto;
                                transition: $ease;
                            }
                        }
                    }
                }
                #selectATable {
                    margin-bottom: 40px;
                    text-align: center;
                    a.btn {
                        font-size: 20px;
                        padding: 20px 0;
                        width: 100%;
                    }
                    a.btn:hover {
                        color: $white;
                    }
                }
                #allTotals.content {}
            }
        }
        #footer {
            background: rgba(0, 0, 0, 0.5);
            border-top: 1px solid $grey;
            color: $grey;
            font-size: 11px;
            height: 150px;
            width: 100%;
            .container {
                padding: 15px;
                .row {
                    .the-copyright-stuff {
                        float: none;
                        margin-bottom: 20px;
                        text-align: center;
                        width: 100%;
                        #copyrightNotice {}
                        #presentedBy {}
                    }
                    #iconLinks {
                        float: none;
                        text-align: center;
                        width: 100%;
                        ul {
                            border: 0;
                            padding: 0;
                            text-align: center;
                            li {
                                display: inline;
                                a {
                                    transition: $ease;
                                    margin-left: 20px;
                                    opacity: 0.5;
                                    i {
                                        font-size: 4em;
                                    }
                                }
                                a:hover {
                                    transition: $ease;
                                    opacity: 1;
                                }
                            }
                            li:first-child {
                                a {
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}