html {
    body {
        #getNewDinerName {
            #inputForNewDinerName {
                #dinerNamePrompt {
                    label {
                        font-size: 23px;
                        #dinerName {
                            height: 38px;
                            margin-right: 20px;
                            width: calc(100% - 120px);
                        }
                        #addDinerName {}
                    }
                }
            }
        }
        #wrap {
            .image-overlay {}
            a.scrollup {
                a.scrollup i {}
            }
            a.scrollup:hover {}
            .container {
                #pageTitle {}
                #getPrimeDinerName.name-input {
                    form#dinerNamePrompt {
                        .dialogue-text {}
                        label#dinerNamePromptLabel {
                            input#dinerName {
                                max-width: 50%;
                            }
                            a#addPrimeDinerName.btn {}
                            a#addPrimeDinerName.btn:hover {}
                            a#addPrimeDinerName.btn.disabled {}
                        }
                    }
                }
                #selectATable {
                    a.btn {
                        font-size: 30px;
                        height: 105px;
                        padding: 30px 60px;
                        width: 304px;
                    }
                }
            }
        }
        #footer {
            font-size: 12px;
            .container {
                .row {
                    .the-copyright-stuff {
                        float: left;
                        margin-top: 35px;
                        text-align: left;
                        width: 50%;
                        #copyrightNotice {}
                        #presentedBy {
                            margin-top: 20px;
                        }
                    }
                    #iconLinks {
                        float: left;
                        margin-top: 20px;
                        width: 50%;
                        ul {
                            text-align: right;
                            li {
                                display: inline;
                                a {
                                    i {
                                        font-size: 6em;
                                    }
                                }
                                a:hover {}
                            }
                            li:first-child {
                                a {
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}